/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Sanza - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]

Buttons, etc:	#726FB9 (blue)
hover color:	$color-default-yellow (yellow)
-------------------------------------------------------------------*/
/*--------------------
Import Google Fonts
--------------------*/
/* main font for menu. */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);*/
/* font for headings, text, tags */
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
*/
/*--------------------
1. Colors
--------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/*--------------------
1. Simple Move Animations
--------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translateX(10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    transform: translateX(-10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInUp {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInUp100 {
  0% {
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", Sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-family: "Open Sans", Sans-serif;
  color: #232323; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #797979; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.sep30 {
  height: 30px; }

.h--40 {
  height: 40px; }

.sep50 {
  height: 5rem; }

/*--------------------
2. Navigation
--------------------*/
.navbar-light {
  background-color: #ffffff;
  border-color: transparent; }

.navbar-light .navbar-brand {
  color: #ffffff;
  font-family: "Montserrat",sans-serif;
  padding: 0px; }

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:active, .navbar-light .navbar-brand.active {
  color: #fed136; }

.navbar-light .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02); }

.navbar-light .navbar-toggler {
  background-color: #ffffff;
  border-color: #ffffff; }

.navbar-light .navbar-toggler .icon-bar {
  background-color: #000000; }

.navbar-light .navbar-toggler:hover, .navbar-default .navbar-toggler:focus {
  background-color: #ffffff; }

.navbar-light .navbar-nav .nav-link, .dropdown-item {
  font-family: "Montserrat",sans-serif;
  /*Default font*/
  /*font-family: "Roboto",sans-serif;
    text-transform: uppercase;*/
  font-weight: 600;
  letter-spacing: 1px;
  color: #2a302f; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.5rem; } }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ff1734;
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-light {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 5px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0; }
  .navbar-light .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; }
  .navbar-light .navbar-nav > .active > a {
    border-radius: 3px; }
  .navbar-light.navbar-shrink {
    background-color: #ffffff;
    /*border-bottom: 1px solid #828282;*/
    padding: 5px 0; }
  .navbar-light.navbar-shrink .navbar-brand {
    font-size: 1.5em;
    margin-top: 10px; } }

/*Style for navbar and logo, removed fixed height of navbar which now adjusts to logo size*/
.navbar-brand {
  height: auto; }

.navbar-brand > img {
  height: 50px; }

@media only screen and (max-width: 600px) {
  .navbar-brand > img {
    padding: 8px; } }

.dropdown-menu {
  border: none;
  top: 80%;
  left: 1.5rem; }

.dropdown-item {
  left: 10%;
  font-size: 1.2rem;
  padding: 1rem 1rem; }
  .dropdown-item.active {
    background-color: transparent;
    color: #ff1734; }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #ff1734;
    background-color: transparent;
    background-color: transparent; }
  .dropdown-item:active {
    background-color: #fed136; }

/*--------------------
1. Header
--------------------*/
.header-section {
  height: 91vh;
  width: 100%;
  position: relative;
  display: flex;
  /*align-items:center;*/
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column; }

.header-content {
  z-index: 2;
  backface-visibility: hidden; }

.header-section h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 600;
  animation-delay: 0s;
  animation: moveInLeft 1s ease-out; }

.header-section h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
  line-height: 2.5rem;
  width: 90%;
  animation: moveInRight 1s ease-out; }

.header-section a {
  animation-delay: 0.5s; }

@media (min-width: 768px) {
  .header-section h1 {
    font-size: 6rem;
    line-height: 8rem; }
  .header-section {
    padding: 70px; }
  .header-section h2 {
    font-size: 2rem;
    line-height: 4rem;
    width: 60%; } }

header {
  background-image: url(../images/bg-01.png);
  background-color: #ffffff;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: #ffffff;
  perspective: 20px; }

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px; }

@media (max-width: 768px) {
  header .intro-text {
    padding-top: 330px;
    padding-bottom: 330px; }
  header {
    background-position: 30% 0%; } }

.img-header {
  position: absolute;
  left: 56%;
  top: 280px;
  animation: moveInUp100 1s ease-out; }

/*------- Services dark template header --------*/
header .intro-text-dark {
  padding-top: 100px;
  padding-bottom: 50px; }

@media (min-width: 768px) {
  header .intro-text-dark {
    padding-top: 150px;
    padding-bottom: 50px; } }

@media (min-width: 768px) {
  header .intro-text-dark .intro-heading {
    line-height: 65px;
    font-size: 50px;
    margin-bottom: 30px; } }

header .intro-text-dark .intro-heading {
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 25px;
  letter-spacing: -1px;
  word-spacing: 10px;
  color: #ffffff;
  /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */ }

/*---------------------------------*/
header .intro-text .intro-lead-in {
  display: inline-block;
  margin-bottom: 25px;
  padding: 4px 20px;
  font-family: "Open Sans",sans-serif;
  font-size: 19px;
  color: #3E3E3E;
  font-weight: 300;
  line-height: 40px; }

@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 45px; } }

header .intro-text .intro-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 25px;
  letter-spacing: -1px;
  word-spacing: 10px;
  color: #202020; }

@media (min-width: 768px) {
  header .intro-text .intro-heading {
    /*line-height: 95px;
        font-size: 77px;*/
    line-height: 75px;
    font-size: 60px;
    margin-bottom: 30px; } }

/*--------------------
1. General
--------------------*/
html {
  font-size: 62.5%; }

img {
  /*padding: 10px 0px;*/ }

a {
  color: #ff1734; }

.dark-bg p {
  color: #B1B1B1; }

a:hover, a:focus, a:active, a.active {
  color: #ff1734; }

a, a:hover, a:focus, a:active, a.active {
  outline: 0; }

::selection {
  text-shadow: none;
  background: #fed136; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

section {
  padding: 70px 0; }

ul {
  padding-left: 0;
  padding-top: 10px; }

ul li {
  list-style: none;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.3rem;
  letter-spacing: 0.2px;
  color: #000000; }

section ul li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f105";
  padding-right: 7px;
  color: #ff1734; }

/*--------------------
1.1 Reset bootstrap
--------------------*/
.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px; }

.col-0-gutter {
  padding-left: 0;
  padding-right: 0; }

/*--------------------
4. Sections
--------------------*/
.grey-bg {
  background-color: #f8f8f8; }

.white-bg {
  background-color: #ffffff; }

.section-title h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #5D5D5F;
  font-weight: 800;
  letter-spacing: -0.6px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.section-title h2 {
  font-size: 34px;
  text-transform: uppercase;
  color: #5D5D5F;
  font-weight: 800;
  letter-spacing: -0.6px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.section-title h2:after {
  left: 50%;
  z-index: 1;
  width: 40px;
  height: 2px;
  content: " ";
  bottom: -5px;
  margin-left: -20px;
  text-align: center;
  position: absolute;
  background: #ff1734; }

.section-title h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800; }

.dark-bg .section-title h2 {
  color: #ffffff; }

.section-title p {
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  margin: 20px 20px 60px 20px; }

/*--------------------
4.1. About
--------------------*/
.mz-module-about h3 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  margin-bottom: 20px;
  line-height: 2.5rem; }

.dark-bg .mz-module-about h3 {
  color: #ffffff; }

.mz-module-about p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #969696; }

.ot-circle {
  height: 95px;
  width: 95px;
  text-align: center;
  line-height: 98px;
  color: #ffffff;
  /* border: 3px solid $color-black; */
  border-radius: 100px;
  background-color: #ff1734;
  margin: 0 2px 4px;
  font-size: 24px; }

.about-section p {
  color: rgba(0, 0, 0, 0.85);
  line-height: 28px;
  margin-bottom: 25px; }

.about-section h1 {
  font-size: 58px;
  font-weight: 800; }

/*--------------------
4.2. Skills
--------------------*/
.section-text h3 {
  margin: 0 0 30px;
  font-weight: 800;
  color: #5D5D5F; }

.section-text h4 {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 17px; }

.dark-bg .section-text h3 {
  color: #dfdfdf; }

.dark-bg .section-text h4 {
  color: #dfdfdf; }

/*--------------------
4.3. Services
--------------------*/
.service-box {
  margin-bottom: 50px; }

.services-section .ot-circle {
  font-size: 30px; }

.first-section {
  padding-top: 140px; }

.service-icon {
  padding: 100px 0px;
  border-radius: 8px; }

.mz-module-about .service-icon {
  padding: 60px 0px;
  border-radius: 8px; }

.services-section h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 0; }

@media (min-width: 768px) {
  .services-section h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0; } }

.services-section p, .services-section ul li {
  font-size: 2rem;
  line-height: 3rem; }

#service-2 .services-section h1, #service-2 .services-section ul li, #service-5 h2 {
  color: #ffffff; }

.services-section h1:after {
  left: 0%;
  z-index: 1;
  width: 70px;
  height: 2px;
  content: " ";
  bottom: -25px;
  margin-left: 25px;
  text-align: center;
  position: absolute;
  background: #ff1734; }

/*--------------------
4.3. Portfolio
--------------------*/
figure {
  position: relative;
  overflow: hidden;
  margin: 0 1px 1px 0;
  background: #e8e8e8;
  text-align: center;
  cursor: pointer; }

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ot-portfolio-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ot-portfolio-item {
  padding: 14px 0px; }

figure.effect-bubba {
  background: #000000;
  margin-bottom: 1px; }

figure.effect-bubba img {
  /* opacity: 0.95; */
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-bubba:hover img {
  opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-bubba figcaption::before {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-bubba figcaption::after {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-bubba h2 {
  opacity: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-bubba p {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*--------------------
4.3.1 Portfolio items
--------------------*/
.blog-thumb {
  margin-top: 70px; }

.blog-thumb h2, .blog-thumb h1 {
  font-weight: 700; }

.blog-thumb .portfolio-gif {
  display: inline-block; }

.blog-thumb ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #797979; }

.blog-thumb ul {
  padding-left: 30px; }

@media (min-width: 768px) {
  .blog-thumb.desc {
    padding: 70px 70px; } }

.blog-thumb.desc h3 {
  font-weight: 800; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/
.light-bg {
  background-color: #f8f8f8; }

.dark-bg {
  background-color: #333231;
  color: #ffffff; }

.short-section {
  border-top: 1px solid #5D5D5F;
  border-bottom: 1px solid #5D5D5F;
  padding-top: 70px;
  padding-bottom: 70px; }

.counter-item h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900; }

.counter-item h6 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0 0 0;
  text-transform: uppercase; }

/*--------------------
4.5. Partners Slider
--------------------*/
.owl-portfolio .owl-controls {
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%; }

.owl-portfolio .owl-controls .owl-nav [class*=owl-] {
  padding: 8px 17px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 0;
  margin: 0;
  font-size: 20px;
  z-index: 1000; }

.owl-portfolio .owl-controls .owl-nav [class*=owl-]:hover {
  background: #000000;
  color: #ffffff;
  text-decoration: none; }

.owl-portfolio .owl-controls .owl-prev {
  float: left; }

.owl-portfolio .owl-controls .owl-next {
  float: right; }

.owl-portfolio-item {
  text-align: center;
  display: inline-block; }

.partner-logo {
  height: 80px;
  text-align: center;
  display: inline-block; }

.partner-logo img {
  height: 100%;
  width: auto !important; }

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #23AD21; }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
  margin: 15px 7px 0 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #23AD21; }

/*--------------------
4.6. Team
--------------------*/
.team-item {
  text-align: center;
  background-color: #ffffff; }

.team-item h3 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #2D2D2D; }

.team-item .team-position {
  color: #989898;
  font-size: 12px;
  margin: 15px 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px; }

.team-item p {
  font-size: 13px;
  font-weight: 400;
  color: #292929;
  padding: 5px 10px 20px 10px; }

/*--------------------
4.7. Contacts
--------------------*/
section#contact form {
  margin-top: 15px; }

section#contact.form-group {
  margin-bottom: 25px; }

section#contact .form-group input, section#contact .form-group textarea {
  padding: 15px;
  border: 1px solid #BBBBBB;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  font-size: 13px; }

.contact h3 {
  margin-bottom: 30px; }

.contact p {
  font-size: 13px; }

.contact .day {
  display: inline-block;
  width: 80px; }

.contact i {
  margin-right: 5px; }

#map {
  margin-top: 20px;
  height: 50vh; }

/*--------------------
4.8. Forms
--------------------*/
.form-control {
  margin-bottom: 10px;
  border-radius: 0px;
  border-color: rgba(12, 12, 12, 0.13);
  min-height: 50px; }

.contact-submit input[type="submit"] {
  color: #ffffff;
  border-color: transparent;
  background-color: #ff1734;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 17px 45px; }

.contact-cta h2 {
  margin: 0; }

/*--------------------
5. Footer
--------------------*/
footer {
  padding: 30px;
  background-color: #000000; }

footer p {
  color: #B7B7B7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px; }

footer p a {
  color: #ffffff; }

footer p a span {
  color: #23AD21;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700; }

.social-icons a {
  color: #909090;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  position: relative;
  top: 0px;
  margin: 0px 15px; }

.social-icons a:hover {
  color: #ffffff; }

.contact-icons {
  margin: 20px 0; }

.contact-icons a {
  color: #909090;
  font-size: 3rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding-right: 10px;
  position: relative;
  top: 0px;
  margin: 0px; }

.contact-icons a:hover {
  color: #000000; }

/*--------------------
6. Modal
--------------------*/
.modal-content {
  border-radius: 0; }

.modal-header .close {
  font-size: 30px; }

.modal-title {
  text-transform: uppercase;
  font-size: 23px; }

.modal-body {
  padding: 0; }

.modal-body p {
  margin: 30px 20px;
  color: #2D2D2D; }

.modal-works {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  margin: 25px 20px; }

.modal-works span {
  background-color: #FED136;
  margin-right: 15px;
  padding: 5px 10px; }

/*--------------------
7. Components
--------------------*/
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
  color: #ffffff;
  background-color: #ff566b;
  border-color: #ff566b; }

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #ff1734; }

.btn-xl {
  color: #ffffff;
  background-color: #ff1734;
  /* border-color: #726FB9; */
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 17px 45px; }

.btn-xl-2 {
  color: #ff1734;
  background-color: #ffffff;
  font-family: "Open Sans",sans-serif;
  border: 1px solid #ff1734;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 17px 45px;
  margin: 0 10px; }

.btn-xl-2:hover, .btn-xl-2:focus, .btn-xl-2:active, .btn-xl-2.active, .open .dropdown-toggle.btn-xl {
  color: #ff1734;
  background-color: #ffffff; }

.btn-l {
  color: #ffffff;
  background-color: #ff1734;
  /* border-color: #726FB9; */
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 20px; }

.btn-s:hover, .btn-s:focus, .btn-s:active, .btn-s.active, .open .dropdown-toggle.btn-s {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000; }

.btn-s {
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 20px;
  color: #323232;
  background-color: #ffffff;
  border-color: #323232; }

.btn-animated {
  position: relative;
  transition: all .4s;
  animation: moveInUp .4s ease-out .6s;
  animation-fill-mode: backwards; }

.btn-animated::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff1734;
  z-index: -1;
  border-radius: 2px;
  transition: all .2s; }

.btn-animated:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn-animated:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-animated:hover::after {
  transform: scale(1.3);
  opacity: 0; }

/* Back to top button
---------------------------------- */
#back-top {
  position: fixed;
  z-index: 1000;
  /* Old settings */
  /*bottom: 40px;
    right: 50px;*/
  bottom: 120px;
  right: 25px; }

#back-top a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #A9A9B1;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top a:hover {
  background: #fed136; }

/* arrow icon (span tag) */
#back-top i {
  margin-top: 15px;
  font-size: 28px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #back-top {
    position: fixed;
    bottom: 10px;
    right: 30px; }
  #back-top a {
    width: 40px;
    height: 40px; }
  #back-top i {
    margin-top: 7px;
    font-size: 20px; } }

/*--------------------
8. Gigs
--------------------*/
.gig-item {
  background-color: #ffffff;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15); }

.gig-desc {
  padding: 5px 15px 15px 15px; }

.gig-desc h4 {
  line-height: normal; }

.gig-cta {
  position: relative; }

.gig-link {
  float: right; }

.gig-link img {
  padding-bottom: 10px; }

.gig-link strong {
  font-size: 18px;
  color: #000000;
  padding-right: 5px; }

.gig-new {
  position: absolute;
  padding: 8px 18px;
  background-color: #ff1734;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800; }

.upw h2 {
  line-height: 3rem;
  font-size: 2rem; }
