/*--------------------
1. Colors
--------------------*/

// Color Scheme
$color-primary-dark: #ff1734;
$color-primary-light: #ff566b;

$color-bg-light: #f8f8f8;
$color-bg-dark: #333231;

$color-white: #ffffff;
$color-black: #000000;

$color-titles-dark: #232323;
$color-paragraph-dark-bg: #B1B1B1;
$color-paragraph-light-bg: #797979;


$color-grey-1: #5D5D5F;
$color-grey-dark: #969696;

$color-default-yellow: #fed136;