# mod_rewrite starts here

RewriteEngine on

# does not apply to exist directories, meaning that if the folder exists on the server then don't change anything and don't apply rule.

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in the director with .html extension

RewriteCond %{REQUEST_FILENAME}>\.html -f


# Here we actually show the page that has .html extension

RewriteRule ^(.*)$ $1.html [NC,L]